.container{
    width: 100vw;
    height: 100vh;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 1%, rgba(148,187,233,1) 100%);

display: flex;
justify-content: center;
align-items: center;
    
}

.card{
    height: 400px;
    width: 250px;
    padding: 20px;
    background-color:beige;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    /* gap: 4px; */
    
}
#QR img{
    height: 250px;
    width:250px ;
    border-radius: 10px;
}
.card h2{
    font-weight: bold;
    font-size: 20px;   
}
.card p{
 font-size: 1rem;
 font-weight: 500;

}